asgiref
Babel
certifi    
charset-normalizer
crispy-bootstrap5
Django
django-crispy-forms
django-recaptcha
et-xmlfile
idna
mysqlclient
numpy
openpyxl
pandas
Pillow
python-dateutil
python-dotenv
pytz
requests
schedule
six
sqlparse
tzdata
urllib3
xlrd