{% load static %}

<!-- Modal de exibição do QRCode do WhatsApp -->
<div class="modal fade" id="qrcode-modal" tabindex="-1" role="dialog"
    aria-labelledby="qrcode-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content d-flex flex-column">
        <div class="modal-header">
        <h4 class="modal-title" id="qrcode-label">Sessão do WhatsApp</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
        </button>
        </div>
        <div class="modal-body">
            <div id="show-qrcode" class="flex-column text-center">
                <div class="text-muted mb-0">Aperte em Conectar para exibir o QRCode da sua sessão</div>
            </div>
            <input type="hidden" id="user-session" value="{{ request.user }}">
        </div>
        <div class="modal-footer d-flex justify-content-center">
        <div class="mensagem-erro" id="mensagem-erro"></div>
        <input type="hidden" name="servidor_id" id="servidor-id">
        <button type="submit" class="btn btn-success" id="conectar">Conectar</button>
        <button type="submit" class="btn btn-danger" id="desconectar" disabled>Desconectar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
    </div>
</div>
<!-- end modal -->