{% comment %}
  Modais Globais do Sistema

  Este arquivo contém modais que devem estar disponíveis em todas as páginas do sistema.
  Inclua este arquivo em qualquer template que utilize a navegação principal (navbar-vertical.html).

  Uso: {% include 'partials/modais_globais.html' %}
{% endcomment %}

<!-- Modal de Envios WhatsApp -->
{% include 'partials/modal_envios_whatsapp.html' %}

<!-- Modal de Migração de Clientes (Admin) -->
{% if request.user.is_superuser %}
{% include 'partials/modal_migrar_clientes.html' %}
{% endif %}

<!-- Adicione outros modais globais aqui conforme necessário -->
