{% extends 'modelo.html' %}

{% load static %}

{% block centro %}
<!-- Header -->
<header style="padding: 300px;">
    <a href="{% url 'cadastros/clientes' %}" id="botao-cliente" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Novo cliente</a>
    <div id="table" class="w3-table w3-padding-large w3-large w3-margin-top" width="100%">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Painel</th>
                    <th>Nome</th>
                    <th>Dono</th>
                    <th>Dispositivo</th>
                    <th>Indicação</th>
                    <th>Desde</th>
                </tr>
            </thead>
            <tbody>
                {% if clientes %}
                {% for cliente in clientes %}
                <tr>
                    <td><a href="{% url 'cliente/editar' cliente.id %}">{{ cliente.id }}</a></td>
                    <td>{{ cliente.painel }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.pessoa }}</td>
                    <td>{{ cliente.dispositivo }}</td>
                    <td>{% if cliente.indicacao %}
                        {{ cliente.indicacao }}
                        {% else %}
                        Não teve indicação
                        {% endif %}
                    </td>
                    <td>{{ cliente.data_cadastro }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">Nenhum cliente cadastrado</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</header>

{% endblock %}