{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'partials/head.html' %}
  <title>Aplicativos | Nosso Painel - Gestão IPTV</title>
</head>

<body class="bg-light">
  <div id="db-wrapper">
    <!-- navbar vertical -->
    {% include 'partials/navbar-vertical.html' %}
    <!-- page content -->
    <div id="page-content">
      {% include 'partials/header.html' %}
      <!-- Container fluid -->
      <div class="container-fluid p-6">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-4 mb-4">
              <h3 class="mb-0 fw-bold">Cadastro de Aplicativos</h3>

            </div>
          </div>
          <!-- col -->
          <div class="row mb-8">
            <div class="col-xl-4 col-lg-4 col-md-12 col-12">
              <div class="mb-4 mb-lg-0">
                <h4 class="mb-1">Crie aqui o seu Aplicativo</h4>
                <p class="mb-0 fs-5 text-muted">Preencha os dados corretamente.</p>
              </div>

            </div>

            <div class="col-xl-4 col-lg-8 col-md-12 col-12">
              <!-- card -->
              <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <div class=" mb-5">
                    <h4 class="mb-1">Formulário de cadastro</h4>
                  </div>

                  <form method="POST">
                    <!-- row -->
                    {% csrf_token %}
                    <div class="mb-3 row">
                      <label for="fullName" class="col-sm-3 col-form-label
                          form-label">Descrição</label>
                      <div class="col-sm-8 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="Nome do aplicativo..." id="nome"
                          name="nome" required>
                      </div>
                    </div>
                    <div class="offset-md-3 col-md-8 mt-4">
                      <button type="submit" class="btn btn-primary" name="cadastrar"> Cadastrar</button>
                    </div>
                </div>
                </form>
              </div>
            </div>
          </div>


          <div class="row mb-8">
            <div class="col-md-12 col-12">
              <div class="mb-lg-6 border-bottom pb-4 mb-4">
                <h4 class="mb-1">Cadastros existentes</h4>
              </div>
            </div>
            <br>

            <!-- Modal de confirmação de exclusão -->
            <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog"
              aria-labelledby="confirm-delete-label">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="confirm-delete-label">Confirmar exclusão</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Tem certeza que deseja excluir o aplicativo <span id="aplicativo-nome"></span>?</p>
                  </div>
                  <div class="modal-footer">
                    <div class="mensagem-erro" id="mensagem-erro"></div>
                    <form method="POST" id="delete-form">
                      {% csrf_token %}
                      <input type="hidden" name="aplicativo_id" id="aplicativo-id">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal de edição de aplicativo -->
            <div class="modal fade" id="edit-aplicativo-modal" tabindex="-1" role="dialog"
              aria-labelledby="edit-aplicativo-label">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="edit-aplicativo-label">Editar Aplicativo</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" id="edit-aplicativo-form">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="aplicativo-nome">Nome do aplicativo</label>
                        <input type="text" class="form-control" id="aplicativo-nome" name="nome">
                      </div>
                      <input type="hidden" name="aplicativo_id" id="aplicativo-id">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" form="edit-aplicativo-form" class="btn btn-primary">Salvar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <!-- card -->
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-sm text-nowrap mb-0 table-hover text-center" id="myTable">
                    <thead class="table-light">
                      <tr>
                        <th class="fw-bold text-center">Aplicativos</th>
                        <th class="fw-bold text-center">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for aplicativo in aplicativos %}
                      <!-- COMEÇO DA LINHA -->
                      <tr>
                        <td class="align-middle">
                          <div class="">
                            <div class="">
                              <h5 class="text-capitalize" class="text-inherit" onmouseover="this.style.color='#624BFF'"
                                onmouseout="this.style.color=''">{{aplicativo.nome}}</h5>
                            </div>
                          </div>
                        </td>
                        <!-- Dropdown da tabela -->
                        <td>
                          <div class="dropdown">
                            <button class="btn btn-icon btn-white rounded-circle btn-dashed ms-2" type="button"
                              id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="{% static 'assets/images/svg/three-dots-vertical.svg' %}">
                            </button>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                              <li>
                                <button class="dropdown-item" data-aplicativo="{{aplicativo.id}}"
                                  data-nome="{{aplicativo.nome}}" onclick="exibirModalEdicao(this)">Editar</button>
                              </li>
                              <li>
                                <button class="dropdown-item" data-aplicativo="{{aplicativo.id}}"
                                  data-nome="{{aplicativo.nome}}"
                                  onclick="exibirModalConfirmacaoExclusao(this)">Excluir</button>
                              </li>
                            </ul>
                          </div>
                        </td>
                        {% endfor %}

                      </tr>
                      <!-- TÉRMINO DA LINHA -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- Scripts -->
      {% include 'partials/scripts.html' %}

      {% if success_message %}
      <script>
        console.log(window.location.origin)
        $(document).ready(function () {
          var currentUrl = window.location.origin;
          var newPath = '/cadastro-aplicativo';
          var newUrl = currentUrl + newPath;
          swal.fire({
            icon: 'success',
            title: 'Cadastro realizado',
            text: '{{success_message}}',
            didClose: function () {
              window.location.href = newUrl;
            }
          });
        });
      </script>

      {% elif success_update == True %}
      <script>
        console.log(window.location.origin)
        $(document).ready(function () {
          var currentUrl = window.location.origin;
          var newPath = '/cadastro-aplicativo';
          var newUrl = currentUrl + newPath;
          swal.fire({
            icon: 'success',
            title: 'Cadastro atualizado',
            text: 'Aplicativo editado com sucesso!',
            didClose: function () {
              window.location.href = newUrl;
            }
          });
        });
      </script>

      <!-- Alert error -->
      {% elif error_message %}
      <script>
        console.log(window.location.origin)
        $(document).ready(function () {
          var currentUrl = window.location.origin;
          var newPath = '/cadastro-aplicativo';
          var newUrl = currentUrl + newPath;
          swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{error_message}}',
            didClose: function () {
              window.location.href = newUrl;
            }
          });
        });
      </script>
      {% endif %}

</body>

</html>

<script>
  function exibirModalConfirmacaoExclusao(botao) {
    var aplicativo_id = $(botao).data('aplicativo');
    var aplicativo_nome = $(botao).data('nome');
    $('#confirm-delete-modal #aplicativo-id').val(aplicativo_id);
    $('#confirm-delete-modal #aplicativo-nome').text(aplicativo_nome);
    $('#confirm-delete-modal').modal('show');

    // Ouve o envio do formulário
    $('#delete-form').on('submit', function (event) {
      event.preventDefault(); // Impede o envio padrão do formulário

      // Obtém o ID do servidor a ser excluído
      var aplicativo_id = $('#aplicativo-id').val();

      // Faz a solicitação DELETE para a URL apropriada
      $.ajax({
        url: '/deletar-aplicativo/' + aplicativo_id + '/',
        method: 'DELETE',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function (response) {
          // Fecha o modal e recarrega a página
          $('#confirm-delete-modal').modal('hide');
          window.location.reload();
        },
        error: function (response) {
          // Lida com o erro de exclusão
          var mensagem_erro = response.responseJSON.error_delete;
          $('#mensagem-erro').text(mensagem_erro);
        }
      });
    });
  }

  $('#confirm-delete-modal').on('click', '.btn-close, .btn-secondary', function () {
    $('#confirm-delete-modal').modal('hide');
  });

</script>

<script>
  function exibirModalEdicao(botao) {
    const aplicativoId = botao.dataset.aplicativo;
    const aplicativoNome = botao.dataset.nome;

    const form = document.querySelector("#edit-aplicativo-form");
    form.action = `/editar-aplicativo/${aplicativoId}/`;
    form.querySelector("#aplicativo-nome").value = aplicativoNome;
    form.querySelector("#aplicativo-id").value = aplicativoId;

    const modal = new bootstrap.Modal(document.querySelector("#edit-aplicativo-modal"));
    modal.show();
  }

  $('#edit-aplicativo-modal').on('click', '.btn-close, .btn-secondary', function () {
    $('#edit-aplicativo-modal').modal('hide');
  });
</script>