{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'partials/head.html' %}
    <title>Meus Clientes | Nosso Painel - Gestão IPTV</title>
</head>

<body class="bg-light">
    <div id="db-wrapper">
        <!-- navbar vertical -->
        {% include 'partials/navbar-vertical.html' %}
        <!-- page content -->
        <div id="page-content">
            {% include 'partials/header.html' %}
            <!-- Container fluid -->
            <div class="container-fluid p-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                            <h3 class="mb-0 fw-bold">Listagem Total de Clientes</h3>
                            <!-- Dropdown Opções -->
                            <div class="btn-group">
                                <div>
                                    <div>
                                        <a class="btn btn-outline-secondary" href="{% url 'cadastro-cliente' %}">
                                            <img src="{% static 'assets/images/svg/person-plus.svg' %}"> Novo Cliente
                                        </a>
                                        <a class="btn btn-outline-secondary" href="{% url 'importar-cliente' %}">
                                            <img src="{% static 'assets/images/svg/upload.svg' %}"> Importar Clientes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- row  -->
                    <div class="row mt-6 d-flex justify-content-center">
                        <div class="col-md-12 col-12">
                            <!-- card  -->
                            <div class="card">
                                <div class="d-flex justify-content-between align-items-center card-header bg-white py-4">
                                    <h4 class="mb-0">Meus clientes ativos e cancelados</h4>
                                    <label for="paginate-by"></label>
                                    <select name="paginate_by" id="paginate-by" class="ms-auto mb-0 rounded border border-light-200 px-1 py-2 d-flex align-items-center me-1 g-rows-per-page-trigger bg-transparent">
                                    <option value="5"{% if page_obj.paginator.per_page == 5 %} selected{% endif %}>5</option>
                                    <option value="10"{% if page_obj.paginator.per_page == 10 %} selected{% endif %}>10</option>
                                    <option value="15"{% if page_obj.paginator.per_page == 15 %} selected{% endif %}>15</option>
                                    <option value="25"{% if page_obj.paginator.per_page == 25 %} selected{% endif %}>25</option>
                                    <option value="50"{% if page_obj.paginator.per_page == 50 %} selected{% endif %}>50</option>
                                    </select>
                                        <!-- nav paginator -->
                                        <nav aria-label="Page navigation" class="mt-3 mt-sm-0 ms-sm-3">
                                        <ul class="pagination justify-content-end mb-0">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
    
                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}
    
                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}
    
                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}
    
                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
    
                                        </ul>
                                    </nav>
                                </div>
                                <!-- campo de pesquisa  -->
                                <form method="GET">
                                    <div class="input-group mb-3 card-header bg-white py-4">
                                        <input type="text" name="q" class="form-control" placeholder="Pesquisar"
                                            aria-label="Pesquisar" aria-describedby="button-pesquisar" id="searchInput"
                                            autocomplete="off">
                                        <button class="btn btn-outline-secondary" type="submit"
                                            id="button-pesquisar">Buscar</button>
                                    </div>
                                </form>

                                <!-- Modal de exibir detalhes do cliente -->
                                <div class="modal fade" id="info-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="info-cliente-label">
                                    <div class="modal-dialog modal-dialog-scrollable modal-xl custom-modal-dialog" role="document">
                                        <div class="modal-content position-relative px-7 py-4" id="modal-info-content">
                                            <div class="modal-header" id="modal-info-header">
                                                <div class="modal-title d-flex w-100 justify-content-between align-items-center">
                                                    <h1 class="fw-bold d-flex align-items-center mb-0 h2" id="info-cliente-label">
                                                        <span id="info-cliente-nome"></span>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar"></button>
                                                </div>
                                            </div>
                                            <div class="custom-div">
                                                <p id="info-cliente-data_adesao"></p>
                                            </div>
                                            <div class="modal-body" id="modal-info-body">
                                                <div>
                                                    <h4 class="fw-bold mb-4 mt-4">Dados do cliente</h4>
                                                    <div class="row mb-4">
                                                        <div class="col-sm-12">
                                                            <span class="fs-9 text-muted">Telefone</span>
                                                            <div class="fs-8" id="info-cliente-telefone"></div>
                                                            <div class="fs-8"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutters mb-4">
                                                        <div class="col-4">
                                                            <span class="fs-9 text-muted">Servidor</span>
                                                            <div class="fs-8" id="info-cliente-servidor"></div>
                                                        </div>
                                                        <div class="col-5">
                                                            <span class="fs-9 text-muted">Dispositivo</span>
                                                            <div class="fs-8" id="info-cliente-dispositivo"></div>
                                                        </div>
                                                        <div class="col-3">
                                                            <span class="fs-9 text-muted">Aplicativo</span>
                                                            <div class="fs-8" id="info-cliente-aplicativo"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-4">
                                                            <span class="fs-9 text-muted">Data de pagamento</span>
                                                            <div class="fs-8" id="info-cliente-data_pagamento"></div>
                                                        </div>
                                                        <div class="col-5">
                                                            <span class="fs-9 text-muted">Plano de adesão</span>
                                                            <div class="fs-8 text-break" id="info-cliente-plano"></div>
                                                        </div>
                                                        <div class="col-3">
                                                            <span class="fs-9 text-muted">Qtd. de telas</span>
                                                            <div class="fs-8" id="info-cliente-tela"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-4">
                                                            <span class="fs-9 text-muted">Forma de pagamento</span>
                                                            <div class="fs-8" id="info-cliente-forma_pgto"></div>
                                                        </div>
                                                        <div class="col-5">
                                                            <span class="fs-9 text-muted">Último pagamento</span>
                                                            <div class="fs-8 text-break" id="info-cliente-ultimo_pgto"></div>
                                                        </div>
                                                        <div class="col-3">
                                                            <span class="fs-9 text-muted">Indicado por</span>
                                                            <div class="fs-8" id="info-cliente-indicado_por"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <span class="fs-9 text-muted">Notas</span>
                                                            <div class="fs-8" id="info-cliente-notas"></div>
                                                            <div class="fs-8"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <h4 class="fw-bold mb-4 mt-4">Resumo de cobranças</h4>
                                                    <div class="d-flex charge-summary gap-3">
                                                        <div class="card rounded py-3 px-8 d-flex flex-column align-items-center justify-content-center border">
                                                            <div class="fw-bold my-0 text-center num-resumo" id="qtd_mensalidades_pagas">
                                                            </div>
                                                            <span class="badge rounded-pill bg-success">
                                                                <i class="bi bi-check-circle"></i>
                                                                Pago
                                                            </span>
                                                        </div>
                                                        <div class="card rounded py-3 px-6 d-flex flex-column align-items-center justify-content-center border">
                                                            <div class="fw-bold my-0 text-center num-resumo" id="qtd_mensalidades_pendentes">0</div>
                                                            <span class="badge rounded-pill bg-danger">
                                                                <i class="bi bi-exclamation-triangle"></i>
                                                                Inadimplente
                                                            </span>
                                                        </div>
                                                        <div class="card rounded py-3 px-6 d-flex flex-column align-items-center justify-content-center border">
                                                            <div class="fw-bold my-0 text-center num-resumo" id="qtd_mensalidades_canceladas">0</div>
                                                            <span class="badge rounded-pill bg-warning">
                                                                <i class="bi bi-x-square"></i>
                                                                Cancelado
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <!-- Modal de edição do cliente -->
                                <div class="modal fade" id="edit-cliente-modal" tabindex="-1" role="dialog"
                                aria-labelledby="edit-cliente-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit-cliente-label">Editar Cliente</h4>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" id="edit-cliente-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="edit-cliente-nome">Nome</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="edit-cliente-nome" name="nome" autocomplete="off" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="edit-cliente-telefone">Telefone</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="edit-cliente-telefone" name="telefone" minlength="12" maxlength="15" autocomplete="off" required>
                                            </div>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-indicador_por">Indicado por</label>
                                            <div class="input-group">
                                              <select class="form-control" id="edit-cliente-indicado_por" name="indicado_por">
                                                <option value="">Selecione um cliente indicador</option>
                                                {% for indicador in indicadores %}
                                                <option value="{{ indicador.nome }}">{{ indicador.nome }}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-servidor">Servidor</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-servidor" name="servidor" required>
                                                <option value="">Selecione um servidor</option>
                                                {% for servidor in servidores %}
                                                <option value="{{ servidor.nome }}">{{ servidor.nome }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-forma_pgto">Forma de pagamento</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-forma_pgto" name="forma_pgto" required>
                                                <option value="">Selecione uma forma de pagamento</option>
                                                {% for forma_pgto in formas_pgtos %}
                                                <option value="{{ forma_pgto.nome }}">{{ forma_pgto.nome }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-plano">Plano</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-plano" name="plano" required>
                                                <option value="">Selecione um plano de adesão</option>
                                                {% for plano in planos %}
                                                <option value="{{ plano.nome }} - {{ plano.valor }}">{{ plano.nome }} - {{ plano.valor }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-telas">Qtd. telas</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-tela" name="tela" required>
                                                <option value="">Selecione a quantidade de telas</option>
                                                {% for tela in telas %}
                                                <option value="{{ tela.telas }} tela(s)">{{ tela.telas }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-dt_pgto">Dia do pagamento mensal</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-dt_pgto" name="dt_pgto" required>
                                                <option value="">Informe o dia do pagamento</option>
                                                {% for x in range %}
                                                <option value="{{ x }}">{{ x }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-dispositivo">Dispositivo</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-dispositivo" name="dispositivo" required>
                                                <option value="">Selecione um dispositivo</option>
                                                {% for dispositivo in dispositivos %}
                                                <option value="{{ dispositivo.nome }}">{{ dispositivo.nome }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-aplicativo">Aplicativo</label>
                                            <div class="input-group">
                                            <select class="form-control" id="edit-cliente-aplicativo" name="aplicativo" required>
                                                <option value="">Selecione um aplicativo</option>
                                                {% for aplicativo in aplicativos %}
                                                <option value="{{ aplicativo.nome }}">{{ aplicativo.nome }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div>
  
                                        <div class="form-group">
                                            <label for="edit-cliente-notas">Anotações</label>
                                            <div class="input-group">
                                                <textarea type="text" class="form-control" id="edit-cliente-notas" name="notas" cols="5" rows="3" placeholder="Detalhes adicionais sobre o cliente..."></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="cliente_id" id="cliente-id">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" form="edit-cliente-form" class="btn btn-primary">Salvar</button>
                                    </div>
                                    </div>
                                </div>
                                </div>

                                <!-- TABELA  -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover" id="myTable">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="fw-bold text-center">Nome</th>
                                                <th class="fw-bold text-center">Data de adesão</th>
                                                <th class="fw-bold text-center">Data de cancelamento</th>
                                                <th class="fw-bold text-center">Status</th>
                                                <th class="fw-bold text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cliente in object_list %}
                                            <!-- COMEÇO DA LINHA -->
                                            <tr id="cliente-{{ forloop.counter }}" class="odd dt-hasChild parent align-middle">
                                                <td class="dtr-control align-middle" id="DETALHES-{{ forloop.counter }}">
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="icon-shape icon-md border p-1 rounded-circle">
                                                                <img src="{% static 'assets/images/logo-apps/'|add:cliente.servidor.nome|lower|add:'.png' %}" class="rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="ms-3 lh-1" style="max-width: 200px;">
                                                            <h5 class="text-capitalize small" class="text-inherit" onmouseover="this.style.color='#624BFF'" onmouseout="this.style.color=''">{{cliente.nome}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_adesao|date:'d/m/Y'}}</td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_cancelamento|date:'d/m/Y'}}</td>
                                                {% if cliente.cancelado %}
                                                <td class="text-capitalize text-center" style="max-width: 200px;"><span class="badge bg-danger">Cancelado</span></td>
                                                <td class="text-center">
                                                    <input type="checkbox" class="toggle-switch" id="reativar-{{ cliente.id }}" onclick="reativarCliente({{ cliente.id }})">
                                                    <label for="reativar-{{ cliente.id }}"></label>
                                                </td>
                                                {% else %}
                                                <td class="text-capitalize text-center" style="max-width: 10px;"><span class="badge bg-info">Ativo</span></td>
                                                <td class="text-center">
                                                    <button title="Mais informações" class="btn btn-icon btn-white rounded-circle btn-dashed ms-2" data-id="{{cliente.id}}" data-nome="{{cliente.nome}}" data-telefone="{{cliente.telefone}}" data-indicado_por="{{cliente.indicado_por}}" data-servidor="{{cliente.servidor}}" data-forma_pgto="{{cliente.forma_pgto}}" data-plano="{{cliente.plano}}" data-telas="{{cliente.telas}}" data-data_pagamento="{{cliente.data_pagamento}}" data-dispositivo="{{cliente.dispositivo}}" data-aplicativo="{{cliente.sistema}}" data-notas="{{cliente.notas}}" data-data_adesao="{{cliente.data_adesao}}" data-ultimo_pagamento="{{cliente.ultimo_pagamento|date:'d/m/Y'}}"  onclick="exibirModalDetalhes(this)">
                                                    <i class="bi bi-info-square"></i>
                                                    </button>
                                                    <button title="Editar" class="btn btn-icon btn-white rounded-circle btn-dashed ms-2" data-id="{{cliente.id}}" data-nome="{{cliente.nome}}" data-telefone="{{cliente.telefone}}" data-indicado_por="{{cliente.indicado_por}}" data-servidor="{{cliente.servidor}}" data-forma_pgto="{{cliente.forma_pgto}}" data-plano="{{cliente.plano.nome}} - {{cliente.plano.valor}}" data-telas="{{cliente.telas}}" data-data_pagamento="{{cliente.data_pagamento}}" data-dispositivo="{{cliente.dispositivo}}" data-aplicativo="{{cliente.sistema}}" data-notas="{{cliente.notas}}" onclick="exibirModalEdicao(this)">
                                                    <i class="bi bi-pencil-square"></i>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            <!-- TÉRMINO DA LINHA -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- card footer  -->
                                <div class="card-footer bg-white text-center">
                                    <!-- nav paginator -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination  justify-content-end">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}

                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}

                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}

                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Scripts -->
                    {% include 'partials/scripts.html' %}

      <!-- Alert success -->
      {% if success_message %}
      <script>
        console.log(window.location.origin)
        $(document).ready(function () {
          var currentUrl = window.location.origin;
          var newPath = '/listagem-clientes';
          var newUrl = currentUrl + newPath;
          swal.fire({
            icon: 'success',
            title: 'Cliente atualizado',
            text: '{{success_message}}',
            didClose: function () {
              window.location.href = newUrl;
            }
          });
        });
      </script>

      <!-- Alert error -->
      {% elif error_message %}
      <script>
        console.log(window.location.origin)
        $(document).ready(function () {
          var currentUrl = window.location.origin;
          var newPath = '/listagem-clientes';
          var newUrl = currentUrl + newPath;
          swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{error_message}}',
            didClose: function () {
              window.location.href = newUrl;
            }
          });
        });
      </script>
      {% endif %}
</body>
</html>

<!-- CSS para os botões do paginator e botão do input de pesquisa -->
<style>
    .page-item.active .page-link {
        background-color: rgb(12, 20, 28);
        border-color: rgb(12, 20, 28);
    }

    .page-link {
        color: #333;
    }

    .page-link:hover {
        color: #666;
    }

    #searchInput {
        border-radius: 5px 5px 5px 5px;
    }

    #button-pesquisar {
        display: none;
    }
</style>

<!-- CSS para o toggle usado para reativação do cliente -->
<style>
    .toggle-switch {
        display: none;
    }

    .toggle-switch + label {
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: #ccc;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
    }

    .toggle-switch + label:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: all 0.3s;
    }

    .toggle-switch:checked + label {
        background-color: #624BFF; /* Cor de fundo quando ativado */
    }

    .toggle-switch:checked + label:before {
        transform: translateX(20px);
    }
</style>

<script>
    function reativarCliente(clienteId) {
      var toggleSwitch = document.getElementById('reativar-' + clienteId);
      
      // Verifica se o toggle switch está marcado (valor "true")
      if (toggleSwitch.checked) {
        $.ajax({
          url: '/reativar-cliente/' + clienteId + '/',
          method: 'POST',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
          },
          success: function (response) {
            // Lida com a resposta da requisição
            if (response.success_message_activate) {
              swal.fire({
                icon: 'success',
                title: 'Reativação realizada.',
                text: response.success_message_activate,
                didClose: function () {
                  window.location.href = '/listagem-clientes';
                }
              });
            } else {
              swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Erro ao reativar o cliente.'
              });
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log("Erro na requisição: " + textStatus + ", " + errorThrown);
          }
        });
      }
    }
</script>

<script>
    function exibirModalEdicao(botao) {
      const clienteId = botao.dataset.id;
      const clienteNome = botao.dataset.nome;
      const clienteTela = botao.dataset.telas;
      const clientePlano = botao.dataset.plano;
      const clienteTelefone = botao.dataset.telefone;
      const clienteServidor = botao.dataset.servidor;
      const clienteFormaPgto = botao.dataset.forma_pgto;
      const clienteAplicativo = botao.dataset.aplicativo;
      const clienteDispositivo = botao.dataset.dispositivo;
      const clienteDataPagamento = botao.dataset.data_pagamento;
      
      let clienteNotas = botao.dataset.notas;
      if (clienteNotas == 'None' || clienteNotas == null || clienteNotas == 'undefined'){
        clienteNotas = '';
      }
      
      let clienteIndicadoPor = botao.dataset.indicado_por;
      if (clienteIndicadoPor == 'None' || clienteIndicadoPor == null || clienteIndicadoPor == 'undefined'){
        clienteIndicadoPor = '';
      }
  
      const form = document.querySelector("#edit-cliente-form");
      form.action = `/editar-cliente/${clienteId}/`;
      form.querySelector("#cliente-id").value = clienteId;
      form.querySelector("#edit-cliente-nome").value = clienteNome;
      form.querySelector("#edit-cliente-telefone").value = clienteTelefone;
      form.querySelector("#edit-cliente-indicado_por").value = clienteIndicadoPor;
      form.querySelector("#edit-cliente-servidor").value = clienteServidor;
      form.querySelector("#edit-cliente-forma_pgto").value = clienteFormaPgto;
      form.querySelector("#edit-cliente-plano").value = clientePlano;
      form.querySelector("#edit-cliente-tela").value = clienteTela;
      form.querySelector("#edit-cliente-dt_pgto").value = clienteDataPagamento;
      form.querySelector("#edit-cliente-dispositivo").value = clienteDispositivo;
      form.querySelector("#edit-cliente-aplicativo").value = clienteAplicativo;
      form.querySelector("#edit-cliente-notas").value = clienteNotas;
  
      const modal = new bootstrap.Modal(document.querySelector("#edit-cliente-modal"));
      modal.show();
    }
  
    $('#edit-cliente-modal').on('click', '.btn-close, .btn-secondary', function () {
      $('#edit-cliente-modal').modal('hide');
    });
</script>

<script>
    const input1 = document.querySelector('input[name="indicado_por"]');
    input1.addEventListener('input', (event) => {
    const value1 = event.target.value;
    input1.value = value1;
    });

    const input2 = document.querySelector('input[name="servidor"]');
    input2.addEventListener('input', (event) => {
    const value2 = event.target.value;
    input2.value = value2;
    });

    const input3 = document.querySelector('input[name="forma_pgto"]');
    input3.addEventListener('input', (event) => {
    const value3 = event.target.value;
    input3.value = value3;
    });

    const input4 = document.querySelector('input[name="plano"]');
    input4.addEventListener('input', (event) => {
    const value4 = event.target.value;
    input4.value = value4;
    });

    const input5 = document.querySelector('input[name="tela"]');
    input5.addEventListener('input', (event) => {
    const value5 = event.target.value;
    input5.value = value5;
    });

    const input6 = document.querySelector('input[name="dt_pgto"]');
    input6.addEventListener('input', (event) => {
    const value6 = event.target.value;
    input6.value = value6;
    });

    const input7 = document.querySelector('input[name="dispositivo"]');
    input7.addEventListener('input', (event) => {
    const value7 = event.target.value;
    input7.value = value7;
    });

    const input8 = document.querySelector('input[name="dispositivo"]');
    input8.addEventListener('input', (event) => {
    const value8 = event.target.value;
    input8.value = value8;
    });

    const input9 = document.querySelector('input[name="aplicativo"]');
    input9.addEventListener('input', (event) => {
    const value9 = event.target.value;
    input9.value = value9;
    });
</script>

<script>
    function exibirModalDetalhes(botao) {
        const clienteId = botao.dataset.id;
        const clienteNome = botao.dataset.nome;
        const clienteTela = botao.dataset.telas;
        const clientePlano = botao.dataset.plano;
        const clienteTelefone = botao.dataset.telefone;
        const clienteServidor = botao.dataset.servidor;
        const clienteFormaPgto = botao.dataset.forma_pgto;
        const clienteAplicativo = botao.dataset.aplicativo;
        const clienteDataAdesao = botao.dataset.data_adesao;
        const clienteDispositivo = botao.dataset.dispositivo;
        const clienteDataPagamento = botao.dataset.data_pagamento;

        let clienteUltimoPagamento = botao.dataset.ultimo_pagamento;
        if (clienteUltimoPagamento == 'None' || clienteUltimoPagamento == '' || clienteUltimoPagamento == null){
            clienteUltimoPagamento = '--';
        }
        
        let clienteIndicadoPor = botao.dataset.indicado_por;
        if (clienteIndicadoPor == 'None' || clienteIndicadoPor == '' || clienteIndicadoPor == null){
            clienteIndicadoPor = '--';
        }
        
        let clienteNotas = botao.dataset.notas;
        if (clienteNotas == 'None' || clienteNotas == '' || clienteNotas == null){
            clienteNotas = '--';
        }
        
        const table = document.querySelector("#info-cliente-table");

        document.getElementById('info-cliente-nome').textContent = clienteNome;
        document.getElementById('info-cliente-tela').textContent =  clienteTela;
        document.getElementById('info-cliente-notas').textContent =  clienteNotas;
        document.getElementById('info-cliente-plano').textContent =  clientePlano;
        document.getElementById('info-cliente-telefone').textContent = formatarTelefone(clienteTelefone);
        document.getElementById('info-cliente-servidor').textContent =  clienteServidor;
        document.getElementById('info-cliente-forma_pgto').textContent =  clienteFormaPgto;
        document.getElementById('info-cliente-aplicativo').textContent =  clienteAplicativo;
        document.getElementById('info-cliente-dispositivo').textContent =  clienteDispositivo;
        document.getElementById('info-cliente-indicado_por').textContent =  clienteIndicadoPor;
        document.getElementById('info-cliente-ultimo_pgto').textContent =  clienteUltimoPagamento;
        document.getElementById('info-cliente-data_pagamento').textContent =  clienteDataPagamento;
        document.getElementById('info-cliente-data_adesao').textContent = 'Cliente desde ' + clienteDataAdesao;

        const modal = new bootstrap.Modal(document.querySelector("#info-cliente-modal"));
        modal.show();

        // Chamar a função para carregar as quantidades das mensalidades para o Resumo das Cobranças
        carregarQuantidadeMensalidadesPagas(clienteId);
    }
  
    $('#info-cliente-modal').on('click', '.btn-close, .btn-secondary', function () {
      $('#info-cliente-modal').modal('hide');
    });

    function formatarTelefone(telefone) {
        const numeros = telefone.replace(/\D/g, '');
      
        if (numeros.length === 12) {
            return `(${numeros.substr(2, 2)}) ${numeros.substr(4, 4)}-${numeros.substr(8)}`;
        } else if (numeros.length === 13) {
            return `(${numeros.substr(2, 2)}) ${numeros.substr(4, 5)}-${numeros.substr(9)}`;
        } else {
            return telefone;
        }
    }

    function carregarQuantidadeMensalidadesPagas(clienteId) {
        $.ajax({
            url: '/qtds_mensalidades/',  // Caminho correto para a sua view
            type: 'GET',  // Alterado para GET, pois não estamos enviando dados sensíveis
            data: { cliente_id: clienteId },
            success: function(data) {
                document.getElementById('qtd_mensalidades_pagas').textContent = data.qtd_mensalidades_pagas;
                document.getElementById('qtd_mensalidades_pendentes').textContent = data.qtd_mensalidades_pendentes;
                document.getElementById('qtd_mensalidades_canceladas').textContent = data.qtd_mensalidades_canceladas;
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>

<style>
#modal-info-header {
    padding: 0;
    height: 5rem;
    border-bottom: none;
    margin-bottom: -10px;
}
#modal-info-content {
    padding: 0;
}
.custom-div {
    margin-top: -10px;
    margin-bottom: -10px;
}
#modal-info-body {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
}
.custom-modal-dialog {
    width: 800px;
    max-width: 100%;
}
.fs-9 {
    font-size: 10pt;
}
.num-resumo {
    font-size: 30pt;
}
</style>