{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head.html' %}
    <title>Meus Clientes | Nosso Painel - Gestão IPTV</title>
</head>

<body class="bg-light">
    <div id="db-wrapper">
        <!-- navbar vertical -->
        {% include 'partials/navbar-vertical.html' %}
        <!-- page content -->
        <div id="page-content">
            {% include 'partials/header.html' %}
            <!-- Container fluid -->
            <div class="container-fluid p-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="border-bottom pb-4 mb-4">
                            <h3 class="mb-0 fw-bold">Listagem de Clientes</h3>
                        </div>
                    </div>

                    <!-- row  -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 col-8">
                            <!-- card  -->
                            <div class="card">
                                <div class="d-flex justify-content-between align-items-center card-header bg-white py-4">
                                    <h4 class="mb-0">Renovações</h4>
                                    <label for="paginate-by"></label>
                                    <select name="paginate_by" id="paginate-by" class="ms-auto mb-0 rounded border border-light-200 px-1 py-2 d-flex align-items-center me-1 g-rows-per-page-trigger bg-transparent">
                                    <option value="5"{% if page_obj.paginator.per_page == 5 %} selected{% endif %}>5</option>
                                    <option value="10"{% if page_obj.paginator.per_page == 10 %} selected{% endif %}>10</option>
                                    <option value="15"{% if page_obj.paginator.per_page == 15 %} selected{% endif %}>15</option>
                                    <option value="25"{% if page_obj.paginator.per_page == 25 %} selected{% endif %}>25</option>
                                    <option value="50"{% if page_obj.paginator.per_page == 50 %} selected{% endif %}>50</option>
                                    </select>
                                        <!-- nav paginator -->
                                        <nav aria-label="Page navigation" class="mt-3 mt-sm-0 ms-sm-3">
                                        <ul class="pagination justify-content-end mb-0">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
    
                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}
    
                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}
    
                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}
    
                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
    
                                        </ul>
                                    </nav>
                                </div>
                                <!-- campo de pesquisa  -->
                                <form method="GET">
                                    <div class="input-group mb-3 card-header bg-white py-4">
                                        <input type="text" name="q" class="form-control" placeholder="Pesquisar"
                                            aria-label="Pesquisar" aria-describedby="button-pesquisar" id="searchInput"
                                            autocomplete="off">
                                        <button class="btn btn-outline-secondary" type="submit"
                                            id="button-pesquisar">Buscar</button>
                                    </div>
                                </form>
                                <!-- TABELA  -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover" id="myTable">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="fw-bold text-center">Nome</th>
                                                <th class="fw-bold text-center">Data de adesão</th>
                                                <th class="fw-bold text-center">Data de cancelamento</th>
                                                <th class="fw-bold text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cliente in clientes %}
                                            <!-- COMEÇO DA LINHA -->
                                            <tr id="cliente-{{ forloop.counter }}" class="odd dt-hasChild parent">
                                                <td class="dtr-control align-middle" style="cursor: pointer;"
                                                    id="DETALHES-{{ forloop.counter }}">
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="icon-shape icon-md border p-1 rounded-circle">
                                                                <img src="{% static 'assets/images/logo-apps/'|add:cliente.servidor.nome|lower|add:'.png' %}"
                                                                    class="rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="ms-3 lh-1" style="max-width: 200px;">
                                                            <h5 class="text-capitalize small" class="text-inherit"
                                                                onmouseover="this.style.color='#624BFF'"
                                                                onmouseout="this.style.color=''">{{cliente.nome}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_adesao|date:'d/m/Y'}}</td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_cancelamento|date:'d/m/Y'}}</td>
                                                {% if cliente.cancelado %}
                                                <td class="text-capitalize text-center" style="max-width: 10px;"><span
                                                    class="badge bg-info">Em uso</span></td>
                                                {% else %}
                                                <td class="text-capitalize text-center" style="max-width: 200px;"><span
                                                    class="badge bg-danger">Cancelado</span></td>
                                                {% endif %}
                                            </tr>
                                            <!-- TÉRMINO DA LINHA -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- card footer  -->
                                <div class="card-footer bg-white text-center">
                                    <!-- nav paginator -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination  justify-content-end">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}

                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3'
                                                %} <li class="page-item"><a class="page-link"
                                                    href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}

                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}

                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Scripts -->
                    {% include 'partials/scripts.html' %}
</body>