{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'partials/head.html' %}
    <title>Meus Clientes | Nosso Painel - Gestão IPTV</title>
</head>

<body class="bg-light">
    <div id="db-wrapper">
        <!-- navbar vertical -->
        {% include 'partials/navbar-vertical.html' %}
        <!-- page content -->
        <div id="page-content">
            {% include 'partials/header.html' %}
            <!-- Container fluid -->
            <div class="container-fluid p-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div class="border-bottom pb-4 mb-4 d-flex justify-content-between align-items-center">
                            <h3 class="mb-0 fw-bold">Listagem Total de Clientes</h3>
                            <!-- Dropdown Opções -->
                            <div class="btn-group">
                                <div>
                                    <div>
                                        <a class="btn btn-outline-secondary" href="{% url 'cadastro-cliente' %}">
                                            <img src="{% static 'assets/images/svg/person-plus.svg' %}"> Novo Cliente
                                        </a>
                                        <a class="btn btn-outline-secondary" href="{% url 'importar-cliente' %}">
                                            <img src="{% static 'assets/images/svg/upload.svg' %}"> Importar Clientes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- row  -->
                    <div class="row mt-6 d-flex justify-content-center">
                        <div class="col-md-12 col-12">
                            <!-- card  -->
                            <div class="card">
                                <div class="d-flex justify-content-between align-items-center card-header bg-white py-4">
                                    <h4 class="mb-0">Meus clientes ativos e cancelados</h4>
                                    <label for="paginate-by"></label>
                                    <select name="paginate_by" id="paginate-by" class="ms-auto mb-0 rounded border border-light-200 px-1 py-2 d-flex align-items-center me-1 g-rows-per-page-trigger bg-transparent">
                                    <option value="5"{% if page_obj.paginator.per_page == 5 %} selected{% endif %}>5</option>
                                    <option value="10"{% if page_obj.paginator.per_page == 10 %} selected{% endif %}>10</option>
                                    <option value="15"{% if page_obj.paginator.per_page == 15 %} selected{% endif %}>15</option>
                                    <option value="25"{% if page_obj.paginator.per_page == 25 %} selected{% endif %}>25</option>
                                    <option value="50"{% if page_obj.paginator.per_page == 50 %} selected{% endif %}>50</option>
                                    </select>
                                        <!-- nav paginator -->
                                        <nav aria-label="Page navigation" class="mt-3 mt-sm-0 ms-sm-3">
                                        <ul class="pagination justify-content-end mb-0">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}
    
                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}
    
                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}
    
                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}
    
                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}
    
                                        </ul>
                                    </nav>
                                </div>
                                <!-- campo de pesquisa  -->
                                <form method="GET">
                                    <div class="input-group mb-3 card-header bg-white py-4">
                                        <input type="text" name="q" class="form-control" placeholder="Pesquisar"
                                            aria-label="Pesquisar" aria-describedby="button-pesquisar" id="searchInput"
                                            autocomplete="off">
                                        <button class="btn btn-outline-secondary" type="submit"
                                            id="button-pesquisar">Buscar</button>
                                    </div>
                                </form>

                                <!-- Modal de edição do cliente -->
                                <div class="modal fade" id="edit-cliente-modal" tabindex="-1" role="dialog"
                                aria-labelledby="edit-cliente-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit-cliente-label">Editar Cliente</h4>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" id="edit-cliente-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="edit-cliente-nome">Nome</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="edit-cliente-nome" name="nome" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="edit-cliente-telefone">Telefone</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="edit-cliente-telefone" name="telefone" required>
                                            </div>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-indicador_por">Indicado por</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Indicado por" id="edit-cliente-indicado_por"
                                                list="indicador-options" name="indicado_por" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="indicador-options">
                                            {% for indicador in indicadores %}
                                            <option value="{{ indicador.nome }}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-servidor">Servidor</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Servidor" id="edit-cliente-servidor"
                                                list="servidor-options" name="servidor" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="servidor-options">
                                            {% for servidor in servidores %}
                                            <option value="{{ servidor.nome }}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-forma_pgto">Forma de pagamento</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Forma de pagamento" id="edit-cliente-forma_pgto"
                                                list="forma_pgto-options" name="forma_pgto" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="forma_pgto-options">
                                            {% for forma_pgto in formas_pgtos %}
                                            <option value="{{ forma_pgto.nome }}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-plano">Plano</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Plano" id="edit-cliente-plano"
                                                list="plano-options" name="plano" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="plano-options">
                                            {% for plano in planos %}
                                            <option value="{{plano.nome}} - {{plano.valor}}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-telas">Qtd. telas</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Qtd. telas" id="edit-cliente-tela"
                                                list="tela-options" name="tela" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="tela-options">
                                            {% for tela in telas %}
                                            <option value="{{tela.telas}}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-dt_pgto">Dia do pagamento mensal</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Dia do pagamento" id="edit-cliente-dt_pgto"
                                                list="dt_pgto-options" name="dt_pgto" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="dt_pgto-options">
                                            {% for x in range %}
                                            <option value="{{x}}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-dispositivo">Dispositivo</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Dispositivo" id="edit-cliente-dispositivo"
                                                list="dispositivo-options" name="dispositivo" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="dispositivo-options">
                                            {% for dispositivo in dispositivos %}
                                            <option value="{{dispositivo.nome}}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <!-- row -->
                                        <div class="form-group">
                                            <label for="edit-cliente-aplicativo">Aplicativo</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Aplicativo" id="edit-cliente-aplicativo"
                                                list="aplicativo-options" name="aplicativo" autocomplete="off">
                                            </div>
                                            <!-- Definindo o datalist -->
                                            <datalist id="aplicativo-options">
                                            {% for aplicativo in aplicativos %}
                                            <option value="{{aplicativo.nome}}">
                                            {% endfor %}
                                            </datalist>
                                        </div>

                                        <div class="form-group">
                                            <label for="edit-cliente-notas">Anotações</label>
                                            <div class="input-group">
                                                <textarea type="text" class="form-control" id="edit-cliente-notas" name="notas" cols="5" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="cliente_id" id="cliente-id">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" form="edit-cliente-form" class="btn btn-primary">Salvar</button>
                                    </div>
                                    </div>
                                </div>
                                </div>

                                <!-- TABELA  -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover" id="myTable">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="fw-bold text-center">Nome</th>
                                                <th class="fw-bold text-center">Data de adesão</th>
                                                <th class="fw-bold text-center">Data de cancelamento</th>
                                                <th class="fw-bold text-center">Status</th>
                                                <th class="fw-bold text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cliente in object_list %}
                                            <!-- COMEÇO DA LINHA -->
                                            <tr id="cliente-{{ forloop.counter }}" class="odd dt-hasChild parent align-middle">
                                                <td class="dtr-control align-middle" id="DETALHES-{{ forloop.counter }}">
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="icon-shape icon-md border p-1 rounded-circle">
                                                                <img src="{% static 'assets/images/logo-apps/'|add:cliente.servidor.nome|lower|add:'.png' %}" class="rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="ms-3 lh-1" style="max-width: 200px;">
                                                            <h5 class="text-capitalize small" class="text-inherit" onmouseover="this.style.color='#624BFF'" onmouseout="this.style.color=''">{{cliente.nome}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_adesao|date:'d/m/Y'}}</td>
                                                <td class="small text-center" style="max-width: 10px;">{{cliente.data_cancelamento|date:'d/m/Y'}}</td>
                                                {% if cliente.cancelado %}
                                                <td class="text-capitalize text-center" style="max-width: 200px;"><span class="badge bg-danger">Cancelado</span></td>
                                                <td class="text-center">
                                                    <input type="checkbox" class="toggle-switch" id="reativar-{{ cliente.id }}" onclick="reativarCliente({{ cliente.id }})">
                                                    <label for="reativar-{{ cliente.id }}"></label>
                                                </td>
                                                {% else %}
                                                <td class="text-capitalize text-center" style="max-width: 10px;"><span class="badge bg-info">Ativo</span></td>
                                                <td class="text-center">
                                                    <button class="btn btn-icon btn-white rounded-circle btn-dashed ms-2" data-id="{{cliente.id}}" data-nome="{{cliente.nome}}" data-telefone="{{cliente.telefone}}" data-indicado_por="{{cliente.indicado_por}}" data-servidor="{{cliente.servidor}}" data-forma_pgto="{{cliente.forma_pgto}}" data-plano="{{cliente.plano}}" data-telas="{{cliente.telas}}" data-data_pagamento="{{cliente.data_pagamento}}" data-dispositivo="{{cliente.dispositivo}}" data-aplicativo="{{cliente.sistema}}" data-notas="{{cliente.notas}}" onclick="exibirModalDetalhes(this)">
                                                    <i class="bi bi-info-square"></i>
                                                    </button>
                                                    <button class="btn btn-icon btn-white rounded-circle btn-dashed ms-2" data-id="{{cliente.id}}" data-nome="{{cliente.nome}}" data-telefone="{{cliente.telefone}}" data-indicado_por="{{cliente.indicado_por}}" data-servidor="{{cliente.servidor}}" data-forma_pgto="{{cliente.forma_pgto}}" data-plano="{{cliente.plano}}" data-telas="{{cliente.telas}}" data-data_pagamento="{{cliente.data_pagamento}}" data-dispositivo="{{cliente.dispositivo}}" data-aplicativo="{{cliente.sistema}}" data-notas="{{cliente.notas}}" onclick="exibirModalEdicao(this)">
                                                    <i class="bi bi-pencil-square"></i>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            <!-- TÉRMINO DA LINHA -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- card footer  -->
                                <div class="card-footer bg-white text-center">
                                    <!-- nav paginator -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination  justify-content-end">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                    tabindex="-1" aria-label="Anterior">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% endif %}

                                            {% if page_obj.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                            {% endif %}

                                            {% for page in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                        class="sr-only"></span></a></li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                                {% endif %}
                                                {% endfor %}

                                                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                    class="page-item"><a class="page-link"
                                                        href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                    {% endif %}

                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="?page={{ page_obj.next_page_number }}"
                                                            aria-label="Próximo">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Scripts -->
                    {% include 'partials/scripts.html' %}
</body>
</html>

<!-- CSS para os botões do paginator e botão do input de pesquisa -->
<style>
    .page-item.active .page-link {
        background-color: rgb(12, 20, 28);
        border-color: rgb(12, 20, 28);
    }

    .page-link {
        color: #333;
    }

    .page-link:hover {
        color: #666;
    }

    #searchInput {
        border-radius: 5px 5px 5px 5px;
    }

    #button-pesquisar {
        display: none;
    }
</style>

<!-- CSS para o toggle usado para reativação do cliente -->
<style>
    .toggle-switch {
        display: none;
    }

    .toggle-switch + label {
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: #ccc;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
    }

    .toggle-switch + label:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: all 0.3s;
    }

    .toggle-switch:checked + label {
        background-color: #624BFF; /* Cor de fundo quando ativado */
    }

    .toggle-switch:checked + label:before {
        transform: translateX(20px);
    }
</style>

<script>
    function reativarCliente(clienteId) {
      var toggleSwitch = document.getElementById('reativar-' + clienteId);
      
      // Verifica se o toggle switch está marcado (valor "true")
      if (toggleSwitch.checked) {
        $.ajax({
          url: '/reativar-cliente/' + clienteId + '/',
          method: 'POST',
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
          },
          success: function (response) {
            // Lida com a resposta da requisição
            if (response.success_message_activate) {
              swal.fire({
                icon: 'success',
                title: 'Reativação realizada.',
                text: response.success_message_activate,
                didClose: function () {
                  window.location.href = '/listagem-clientes';
                }
              });
            } else {
              swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Erro ao reativar o cliente.'
              });
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log("Erro na requisição: " + textStatus + ", " + errorThrown);
          }
        });
      }
    }
</script>

<script>
    function exibirModalEdicao(botao) {
      let clienteId = botao.dataset.id;
      let clienteNome = botao.dataset.nome;
      let clienteTela = botao.dataset.telas;
      let clienteNotas = botao.dataset.notas;
      let clientePlano = botao.dataset.plano;
      let clienteTelefone = botao.dataset.telefone;
      let clienteServidor = botao.dataset.servidor;
      let clienteFormaPgto = botao.dataset.forma_pgto;
      let clienteAplicativo = botao.dataset.aplicativo;
      let clienteDispositivo = botao.dataset.dispositivo;
      let clienteIndicadoPor = botao.dataset.indicado_por;
      let clienteDataPagamento = botao.dataset.data_pagamento;

      if (clienteIndicadoPor == 'None' || clienteIndicadoPor == null || clienteIndicadoPor == 'undefined'){
        clienteIndicadoPor = '';
      }
  
      const form = document.querySelector("#edit-cliente-form");
      form.action = `/editar-cliente/${clienteId}/`;
      form.querySelector("#cliente-id").value = clienteId;
      form.querySelector("#edit-cliente-nome").value = clienteNome;
      form.querySelector("#edit-cliente-telefone").value = clienteTelefone;
      form.querySelector("#edit-cliente-indicado_por").value = clienteIndicadoPor;
      form.querySelector("#edit-cliente-servidor").value = clienteServidor;
      form.querySelector("#edit-cliente-forma_pgto").value = clienteFormaPgto;
      form.querySelector("#edit-cliente-plano").value = clientePlano;
      form.querySelector("#edit-cliente-tela").value = clienteTela;
      form.querySelector("#edit-cliente-dt_pgto").value = clienteDataPagamento;
      form.querySelector("#edit-cliente-dispositivo").value = clienteDispositivo;
      form.querySelector("#edit-cliente-aplicativo").value = clienteAplicativo;
      form.querySelector("#edit-cliente-notas").value = clienteNotas;
  
      const modal = new bootstrap.Modal(document.querySelector("#edit-cliente-modal"));
      modal.show();
    }
  
    $('#edit-cliente-modal').on('click', '.btn-close, .btn-secondary', function () {
      $('#edit-cliente-modal').modal('hide');
    });
  </script>

<script>
    const input1 = document.querySelector('input[name="indicado_por"]');
    input1.addEventListener('input', (event) => {
    const value1 = event.target.value;
    input1.value = value1;
    });

    const input2 = document.querySelector('input[name="servidor"]');
    input2.addEventListener('input', (event) => {
    const value2 = event.target.value;
    input2.value = value2;
    });

    const input3 = document.querySelector('input[name="forma_pgto"]');
    input3.addEventListener('input', (event) => {
    const value3 = event.target.value;
    input3.value = value3;
    });
</script>

<script>

</script>