<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
    <title>Painel de Gerenciamento IPTV</title>
</head>
<body>
    <table style="font-size: 14px " id="tabela-clientes">
        <th class="sortable">Servidor</th>
        <th class="sortable sorting_desc">Data adesão</th>
        <th class="sortable">Nome</th>
        <th class="sortable">Telefone</th>
        <th class="sortable">Quem indicou</th>
        <th class="sortable">Dispositivo</th>
        <th class="sortable">Sistema</th>
        <th class="sortable">Data pgto.</th>
        <th class="sortable">Tipo pgto.</th>
        <th class="sortable">Qtd. telas</th>
        <th class="sortable">Data adesão</th>
        <th class="sortable">Último pgto.</th>
        <th class="sortable">Próximo pgto.</th>
        {% if clientes %}
          {% for cliente in clientes %}
            <tr>
              <td>{{cliente.servidor}}</td>
              <td>{{cliente.data_adesao|date:'d/m/Y'}}</td>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.telefone}}</td>
              {% if cliente.indicado_por %}
                <td>{{cliente.indicado_por}}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td>{{cliente.dispositivo}}</td>
              <td>{{cliente.sistema}}</td>
              <td>{{cliente.data_pagamento}}</td>
              <td>{{cliente.forma_pgto}}</td>
              <td>{{cliente.plano}}</td>
              <td>{{cliente.telas}}</td>
              {% if cliente.ultimo_pagamento %}
                <td>{{cliente.ultimo_pagamento|date:'d/m/Y'}}</td>
              {% else %}
                <td></td>
              {% endif %}
              {% for mensalidade in cliente.mensalidade_set.all %}
              {% if mensalidade.dt_pagamento is None or not mensalidade.pgto %}
                  <td class="dt_vencimento">{{ mensalidade.valor }} [{{ mensalidade.dt_vencimento|date:'d/m/Y' }}]</td>
                  <td>
                      <form method="post" action="{% url 'pagar_mensalidade' mensalidade.pk %}">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary" value="{{ mensalidade.pk }}">Pagar mensalidade</button>
                      </form>
                  </td>
                  <td><button><a href="{% url 'cancelar_cliente' cliente.pk %}">Cancelar Cliente</a></button></td>
              {% endif %}
          {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}
      </table>
</body>
</html>
<style>
    td, th {
        text-align: center;
    }

    .dt_vencimento {
        color: red;
        font-size: 15px;
        font-weight: bold;
    }
</style>
<script>
    $(document).ready(function() {
        $('#tabela-clientes').DataTable({
            "order": [[ 2, "desc" ]], // coluna padrão de ordenação
            "columnDefs": [ {
                "targets": 'sortable',
                "orderable": true,
            } ],
        });
    });
</script>