<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table id="appsTable"
        class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline collapsed"
        style="width: 100%;" aria-describedby="appsTable_info">
        <thead class="text-muted table-light" style="width:100%">
            <tr class="text-uppercase" style="width:100%">
                <th scope="col" style="width: 74.4px;" class="sorting" tabindex="0" aria-controls="appsTable"
                    rowspan="1" colspan="1" aria-label="Id: activate to sort column ascending">Id</th>
                <th style="width: 54.4px;" class="dt-center sorting" tabindex="0" aria-controls="appsTable" rowspan="1"
                    colspan="1" aria-label=": activate to sort column ascending"></th>
                <th scope="col" style="width: 42.4px;" class="sorting" tabindex="0" aria-controls="appsTable"
                    rowspan="1" colspan="1" aria-sort="descending"
                    aria-label="App Id: activate to sort column ascending">App Id</th>
                <th class="sorting" tabindex="0" aria-controls="appsTable" rowspan="1" colspan="1"
                    style="width: 55.4px;" aria-label="Cliente: activate to sort column ascending">Cliente</th>
                <th class="sorting" tabindex="0" aria-controls="appsTable" rowspan="1" colspan="1"
                    style="width: 94.4px;" aria-label="MAC: activate to sort column ascending">MAC</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr id="cliente-{{ forloop.counter }}" class="odd dt-hasChild parent">
                <td class="dtr-control" style="cursor: pointer;" id="DETALHES-{{ forloop.counter }}">{{cliente.nome}} - {{ forloop.counter }}</td>
                <td class=" dt-center"><a href="javascript:void(0)" class="fs-4 clienteinfo me-1" id="show-user"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Informações do Cliente"
                        data-bs-trigger="hover" data-remote="22275" data-name="0b:b9:03:48:b9:e7"
                        data-url="https://pro.offx.me/showclienteapp/22275"><i
                            class="ri-file-info-line text-info"></i></a><a href="javascript:void(0)"
                        class="fs-4 acesso me-2" id="show-user-acesso" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Informações de Acesso" data-bs-trigger="hover" data-remote="50317"
                        data-name="0b:b9:03:48:b9:e7" data-url="https://pro.offx.me/showacessoapp/50317"><i
                            class="ri-video-line text-dark"></i></a></td>
                <td class="sorting_1">50317</td>
                <td>24600868</td>
                <td>0b:b9:03:48:b9:e7</td>
            </tr>
            <tr class="child" id="exibir-detalhes-{{ forloop.counter }}" style="display: none;">
                <td class="child" colspan="9">
                    <ul data-dtr-index="0" class="dtr-details">
                        <li class="dt-center" data-dtr-index="8" data-dt-row="0" data-dt-column="8"><span
                                class="dtr-title">Notas</span> <span class="dtr-data">Francisca Lima</span></li>
                        <li class="dt-center" data-dtr-index="9" data-dt-row="0" data-dt-column="9"><span
                                class="dtr-title">Aparelho</span> <span class="dtr-data">Roku</span></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'partials/scripts.html' %}
</body>

</html>

<script>
    // seleciona todos os elementos de classe "dtr-control" que têm um id que começa com "DETALHES-"
    document.querySelectorAll('.dtr-control[id^="DETALHES-"]').forEach(function (element) {
        // adiciona um manipulador de eventos para o elemento clicado
        element.addEventListener('click', function () {
            // obtém o valor do contador de iteração do id
            var id = this.id.split('-')[1];
            // obtém o elemento filho correspondente e alterna sua exibição
            var child = document.getElementById('exibir-detalhes-' + id);
            child.style.display = child.style.display === 'none' ? 'table-row' : 'none';
        });
    });
</script>