{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'partials/head.html' %}
    <title>Dashboard | Nosso Painel - Gestão IPTV</title>
</head>

<body class="bg-light">
    <div id="db-wrapper">
        <!-- navbar vertical -->
        {% include 'partials/navbar-vertical.html' %}
        <!-- Page content -->
        <div id="page-content">
            {% include 'partials/header.html' %}
            <!-- Container fluid -->
            <div class="bg-primary pt-10 pb-21"></div>
            <div class="container-fluid mt-n22 px-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Page header -->
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mb-2 mb-lg-0">
                                    <h2 class="mb-0  text-white">Dashboard <i class="bi bi-eye" id="eye"></i></h2>
                                </div>
                                <!-- Dropdown Opções -->
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button class="btn btn-light mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                            <img src="{% static 'assets/images/svg/list.svg' %}"> Opções
                                        </button>
                                        <div class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'cadastro-cliente' %}"><img
                                                        src="{% static 'assets/images/svg/person-plus.svg' %}"> Novo
                                                    Cliente</a></li>
                                            <li><a class="dropdown-item" href="{% url 'importar-cliente' %}"><img
                                                        src="{% static 'assets/images/svg/upload.svg' %}"> Importar
                                                    Clientes</a></li>
                                            <li><a class="dropdown-item" href="{% url 'cadastro-aplicativos' %}">
                                            <li><img src="{% static 'assets/images/svg/app-indicator.svg' %}">
                                                Aplicativos</a></li>
                                            <li><a class="dropdown-item" href="{% url 'cadastro-dispositivos' %}"><img
                                                        src="{% static 'assets/images/svg/display.svg' %}">
                                                    Dispositivos</a></li>
                                            <li><a class="dropdown-item" href="{% url 'forma-pagamento' %}"><img
                                                        src="{% static 'assets/images/svg/credit-card.svg' %}"> Formas
                                                    de Pagamento</a></li>
                                            <li><a class="dropdown-item" href="{% url 'cadastro-plano-mensal' %}"><img
                                                        src="{% static 'assets/images/svg/piggy-bank.svg' %}"> Planos
                                                    Mensais</a></li>
                                            <li><a class="dropdown-item" href="{% url 'servidores' %}"><img
                                                        src="{% static 'assets/images/svg/hdd-stack.svg' %}">
                                                    Servidores</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6 objeto">
                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3 objeto">
                                    <div>
                                        <h4 class="mb-0">Clientes</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img class="bi bi-people fs-4" src="">
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold values1_h1">{{total_clientes}}</h1>
                                    {% if clientes_em_atraso > 0%}
                                    <span class="me-2 ms-auto"><span
                                            class="text-dark me-2 values1_span">{{clientes_em_atraso}}</span><span
                                            class="bi bi-arrow-down-short text-danger">Em atraso</span></span>
                                    {% else %}
                                    <span class="me-2 ms-auto"><span
                                            class="text-dark me-2 values1_span">{{clientes_em_atraso}}</span>Em
                                        atraso</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6 objeto">
                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3 objeto">
                                    <div>
                                        <h4 class="mb-0">Recebido no mês</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img class="bi bi-wallet2 fs-4" src="">
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold values2_h1">{{valor_total_pago}}</h1>
                                    <p class="mb-0"><span
                                            class="text-dark me-2 values2_span">{{valor_total_pago_qtd}}</span>Pago(s)
                                        neste mês
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6 objeto">
                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3 objeto">
                                    <div>
                                        <h4 class="mb-0">À receber no mês</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img class="bi bi-cash-coin fs-4" src="">
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold values3_h1">{{valor_total_receber}}</h1>
                                    {% if valor_total_receber_qtd > 0 %}
                                    <p class="mb-0 "><i class="bi bi-exclamation-triangle text-warning me-2"></i><span
                                            class="text-dark values3_span">{{valor_total_receber_qtd}}</span> vencem em
                                        até 7 dias
                                    </p>
                                    {% else %}
                                    <p class="mb-0 "><span
                                            class="text-dark me-2 values3_span">{{valor_total_receber_qtd}}</span> sem
                                        vencimentos</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6 objeto">
                        <!-- card -->
                        <div class="card">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3 objeto">
                                    <div>
                                        <h5 class="mb-0">Adesões e cancelamentos neste mês</h5>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                        <img class="bi bi-graph-up-arrow fs-4" src="">
                                    </div>
                                </div>
                                <!-- project number -->
                                <div class="d-flex">
                                    <div style="display: flex; flex-direction: column; mr-0">
                                        <h2 class="fw-bold mb-0">{{novos_clientes_qtd}}</h2>
                                        <h2 class="fw-bold mb-0">{{clientes_cancelados_qtd}}</h2>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <p class="mb-5"><i class="bi bi-arrow-up-short text-success"></i><span
                                                class="text-success ms-2">Novos</span></p>
                                        <p class="mb-0"><i class="bi bi-arrow-down-short text-danger"></i><span
                                                class="ms-2 text-danger">Cancelados</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de confirmação de cancelamento de cliente -->
                <div class="modal fade" id="confirm-cancelamento-modal" tabindex="-1" role="dialog"
                    aria-labelledby="confirm-cancelamento-label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="confirm-cancelamento-label">Confirmar cancelamento</h4>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Tem certeza que deseja cancelar o cliente <strong><span
                                            id="cliente-nome"></span></strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="mensagem-erro" id="mensagem-erro"></div>
                                <form method="POST" id="cancelamento-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="cliente_id" id="cliente-id">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-danger">Cancelar cliente</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de confirmação de pagamento -->
                <div class="modal fade" id="confirm-pagamento-modal" tabindex="-1" role="dialog"
                    aria-labelledby="confirm-pagamento-label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="confirm-pagamento-label">Confirmar pagamento</h4>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar">
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Tem certeza que deseja pagar a mensalidade de <strong><span
                                            id="cliente-nome"></span></strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="mensagem-erro" id="mensagem-erro"></div>
                                <form method="POST" id="pagamento-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="mensalidade_id" id="mensalidade-id">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary">Pagar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- row  -->
                <div class="row mt-6">
                    <div class="col-md-12 col-12">
                        <!-- card  -->
                        <div class="card">
                            <!-- card header  -->
                            <div class="d-flex justify-content-between align-items-center card-header bg-white py-4">
                                <h4 class="mb-0">Renovações</h4>
                                <label for="paginate-by"></label>
                                <select name="paginate_by" id="paginate-by" class="ms-auto mb-0 rounded border border-light-200 px-1 py-2 d-flex align-items-center me-1 g-rows-per-page-trigger bg-transparent">
                                <option value="5"{% if page_obj.paginator.per_page == 5 %} selected{% endif %}>5</option>
                                <option value="10"{% if page_obj.paginator.per_page == 10 %} selected{% endif %}>10</option>
                                <option value="15"{% if page_obj.paginator.per_page == 15 %} selected{% endif %}>15</option>
                                <option value="25"{% if page_obj.paginator.per_page == 25 %} selected{% endif %}>25</option>
                                <option value="50"{% if page_obj.paginator.per_page == 50 %} selected{% endif %}>50</option>
                                </select>
                                    <!-- nav paginator -->
                                    <nav aria-label="Page navigation" class="mt-3 mt-sm-0 ms-sm-3">
                                    <ul class="pagination justify-content-end mb-0">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                tabindex="-1" aria-label="Anterior">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}

                                        {% if page_obj.number > 3 %}
                                        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                        {% endif %}

                                        {% for page in page_obj.paginator.page_range %}
                                        {% if page_obj.number == page %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                    class="sr-only"></span></a></li>
                                        {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                            {% endif %}
                                            {% endfor %}

                                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                class="page-item"><a class="page-link"
                                                    href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                {% endif %}

                                                {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                        aria-label="Próximo">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                {% endif %}

                                    </ul>
                                </nav>
                            </div>
                            <!-- campo de pesquisa  -->
                            <form method="GET">
                                <div class="input-group mb-3 card-header bg-white py-4">
                                    <input type="text" name="q" class="form-control" placeholder="Pesquisar"
                                        aria-label="Pesquisar" aria-describedby="button-pesquisar" id="searchInput"
                                        autocomplete="off">
                                    <button class="btn btn-outline-secondary" type="submit"
                                        id="button-pesquisar">Buscar</button>
                                </div>
                            </form>
                            <!-- TABELA  -->
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 table-hover" id="myTable">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="fw-bold text-center">Nome</th>
                                            <th class="fw-bold text-center">Data adesão</th>
                                            <th class="fw-bold text-center">Dispositivo</th>
                                            <th class="fw-bold text-center">Aplicativo</th>
                                            <th class="fw-bold text-center">Último pgto.</th>
                                            <th class="fw-bold text-center">Próximo pgto.</th>
                                            <th colspan="1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cliente in object_list %}
                                        <!-- COMEÇO DA LINHA -->
                                        <tr id="cliente-{{ forloop.counter }}" class="odd dt-hasChild parent">
                                            <td class="dtr-control align-middle" style="cursor: pointer;"
                                                id="DETALHES-{{ forloop.counter }}">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon-shape icon-md border p-1 rounded-circle">
                                                            <img src="{% static 'assets/images/logo-apps/'|add:cliente.servidor.nome|lower|add:'.png' %}"
                                                                class="rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="ms-3 lh-1">
                                                        <h5 class="text-capitalize small" class="text-inherit"
                                                            onmouseover="this.style.color='#624BFF'"
                                                            onmouseout="this.style.color=''">{{cliente.nome}}</h5>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="small text-center">{{cliente.data_adesao|date:'d/m/Y'}}</td>
                                            <td class="small text-center">{{cliente.dispositivo}}</td>
                                            <td class="text-capitalize small text-center">{{cliente.sistema}}</td>
                                            {% if cliente.ultimo_pagamento %}
                                            <td class="small text-center">{{cliente.ultimo_pagamento|date:'d/m/Y'}}</td>
                                            {% else %}
                                            <td class="small text-center"></td>
                                            {% endif %}

                                            {% for mensalidade in cliente.mensalidade_set.all %}
                                            {% if mensalidade.dt_pagamento is None or not mensalidade.pgto %}
                                            {% if hoje > mensalidade.dt_vencimento %}
                                            <td class="align-middle text-center"><span
                                                    class="badge bg-danger">{{mensalidade.valor }}
                                                    [{{mensalidade.dt_vencimento|date:'d/m/Y'}}]</span></td>
                                            {% else %}
                                            <td class="align-middle text-primary text-center"><span
                                                    class="badge bg-info">{{ mensalidade.valor}}[{{mensalidade.dt_vencimento|date:'d/m/Y' }}]</span></td>
                                            {% endif %}
                                            <!-- Dropdown da tabela -->
                                            <td>
                                                <div class="dropdown dropend">
                                                    <button
                                                        class="btn btn-icon btn-white rounded-circle btn-dashed ms-2"
                                                        type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <img
                                                            src="{% static 'assets/images/svg/three-dots-vertical.svg' %}">
                                                    </button>
                                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                                        <li>
                                                            <button class="dropdown-item"
                                                                data-mensalidade="{{mensalidade.id}}"
                                                                data-nome="{{cliente.nome}}"
                                                                onclick="exibirModalConfirmacaoPagamento(this)">Pagar
                                                                mensalidade</button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item" data-cliente="{{cliente.id}}"
                                                                data-nome="{{cliente.nome}}"
                                                                onclick="exibirModalConfirmacaoCancelamento(this)">Cancelar
                                                                cliente</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                            {% endif %}
                                            {% endfor %}

                                        </tr>
                                        <tr class="child" id="exibir-detalhes-{{ forloop.counter }}"
                                            style="display: none;">
                                            <td class="child small" colspan="3">
                                                <ul data-dtr-index="0" class="list-group list-group-flush">
                                                    <li class="list-group-item" style="list-style-type: armenian;"><span
                                                            class="title">Telefone:
                                                        </span><span>{{cliente.telefone}}</span></li>
                                                    {% if cliente.indicado_por == None %}
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Indicado por: </span> <span>Ninguém</span>
                                                    </li>
                                                    {% else %}
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Indicado por: </span>
                                                        <span>{{cliente.indicado_por}}</span>
                                                    </li>
                                                    {% endif %}
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Data de pagamento: </span> <span>Dia
                                                            {{cliente.data_pagamento}} de cada mês</span></li>
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Forma de pagamento: </span>
                                                        <span>{{cliente.forma_pgto}}</span>
                                                    </li>
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Plano: </span><span>{{cliente.plano}}</span>
                                                    </li>
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Qtd. telas: </span>
                                                        <span>{{cliente.telas}}</span>
                                                    </li>
                                                    {% if cliente.notas == None %}
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Notas: </span> <span class="mb-10"></span>
                                                    </li>
                                                    {% else %}
                                                    <li class="list-group-item" style="list-style-type: none;"><span
                                                            class="title">Notas: </span> <span>{{cliente.notas}}</span>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                            <td class="child small" colspan="4">
                                                {% for conta in cliente.conta_aplicativo.all %}
                                                <ul data-dtr-index="0" class="list-group list-group-flush">
                                                    <li class="list-group-item" style="list-style-type: none;">
                                                        <span class="title">App: </span><span>{{conta.app}}</span><br>
                                                        {% if conta.device_id %}
                                                        <span class="title">Device ID:
                                                        </span><span>{{conta.device_id}}</span><br>
                                                        {% else %}
                                                        <span class="title">E-mail:
                                                        </span><span>{{conta.email}}</span><br>
                                                        {% endif %}
                                                        <span class="title">Device Key:
                                                        </span><span>{{conta.device_key}}</span>
                                                    </li>
                                                </ul>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <!-- TÉRMINO DA LINHA -->
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- card footer  -->
                            <div class="card-footer bg-white text-center">
                                <!-- nav paginator -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination  justify-content-end">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                tabindex="-1" aria-label="Anterior">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}

                                        {% if page_obj.number > 3 %}
                                        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                                        {% endif %}

                                        {% for page in page_obj.paginator.page_range %}
                                        {% if page_obj.number == page %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ page }} <span
                                                    class="sr-only"></span></a></li>
                                        {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{page}}</a></li>
                                            {% endif %}
                                            {% endfor %}

                                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li
                                                class="page-item"><a class="page-link"
                                                    href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                                {% endif %}

                                                {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                                        aria-label="Próximo">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- row  -->

                <!-- Scripts -->
                {% include 'partials/scripts.html' %}
</body>

<style>
    .page-item.active .page-link {
        background-color: rgb(12, 20, 28);
        border-color: rgb(12, 20, 28);
    }

    .page-link {
        color: #333;
    }

    .page-link:hover {
        color: #666;
    }

    #searchInput {
        border-radius: 5px 5px 5px 5px;
    }

    #button-pesquisar {
        display: none;
    }

    .objeto {
        transition: transform 0.3s ease;
    }

    .objeto:hover {
        transform: translateY(-5px);
    }


    span.title {
        font-weight: bold;
    }

    .child span {
        width: 120px;
    }

    #eye {
        cursor: pointer;
    }
</style>

</html>

<script>
    // EXIBIÇÃO DOS DETALHES DOS CLIENTES NA TABELA
    // seleciona todos os elementos de classe "dtr-control" que têm um id que começa com "DETALHES-"
    document.querySelectorAll('.dtr-control[id^="DETALHES-"]').forEach(function (element) {
        // adiciona um manipulador de eventos para o elemento clicado
        element.addEventListener('click', function () {
            // obtém o valor do contador de iteração do id
            var id = this.id.split('-')[1];
            // obtém o elemento filho correspondente e alterna sua exibição
            var child = document.getElementById('exibir-detalhes-' + id);
            child.style.display = child.style.display === 'none' ? 'table-row' : 'none';
        });
    });
</script>

<script>
    const eyeIcon = document.getElementById("eye");
    const values1_h1 = document.querySelectorAll(".values1_h1");
    const values1_span = document.querySelectorAll(".values1_span");
    const values2_h1 = document.querySelectorAll(".values2_h1");
    const values2_span = document.querySelectorAll(".values2_span");
    const values3_h1 = document.querySelectorAll(".values3_h1");
    const values3_span = document.querySelectorAll(".values3_span");

    // Carrega a classe salva no localStorage para manter o "olho" habilitado ou desabilitado
    if (localStorage.getItem("eyeClass") == "bi-eye") {
        eyeIcon.classList.remove("bi-eye-slash");
        eyeIcon.classList.add("bi-eye");

        for (let i = 0; i < values1_h1.length; i++) {
            values1_h1[i].style.height = "auto";
            values1_h1[i].textContent = "{{total_clientes}}";
        }
        for (let i = 0; i < values1_span.length; i++) {
            values1_span[i].textContent = "{{clientes_em_atraso}}";
        }
        for (let i = 0; i < values2_h1.length; i++) {
            values2_h1[i].style.height = "auto";
            values2_h1[i].textContent = "{{valor_total_pago}}";
        }
        for (let i = 0; i < values2_span.length; i++) {
            values2_span[i].textContent = "{{valor_total_pago_qtd}}";
        }
        for (let i = 0; i < values3_h1.length; i++) {
            values3_h1[i].style.height = "auto";
            values3_h1[i].textContent = "{{valor_total_receber}}";
        }
        for (let i = 0; i < values3_span.length; i++) {
            values3_span[i].textContent = "{{valor_total_receber_qtd}}";
        }
    } else if (localStorage.getItem("eyeClass") == "bi-eye-slash") {
        eyeIcon.classList.remove("bi-eye");
        eyeIcon.classList.add("bi-eye-slash");

        for (let i = 0; i < values1_h1.length; i++) {
            values1_h1[i].style.height = "43px";
            values1_h1[i].textContent = "****";
        }
        for (let i = 0; i < values1_span.length; i++) {
            values1_span[i].textContent = "*";
        }
        for (let i = 0; i < values2_h1.length; i++) {
            values2_h1[i].style.height = "43px";
            values2_h1[i].textContent = "****";
        }
        for (let i = 0; i < values2_span.length; i++) {
            values2_span[i].textContent = "*";
        }
        for (let i = 0; i < values3_h1.length; i++) {
            values3_h1[i].style.height = "43px";
            values3_h1[i].textContent = "****";
        }
        for (let i = 0; i < values3_span.length; i++) {
            values3_span[i].textContent = "*";
        }
    }

    // muda a exibição das informações de acordo com o clique no "olho"
    eyeIcon.addEventListener("click", function () {
        if (eyeIcon.classList.contains("bi-eye")) {
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");

            for (let i = 0; i < values1_h1.length; i++) {
                values1_h1[i].style.height = "43px";
                values1_h1[i].textContent = "****";
            }
            for (let i = 0; i < values1_span.length; i++) {
                values1_span[i].textContent = "*";
            }
            for (let i = 0; i < values2_h1.length; i++) {
                values2_h1[i].style.height = "43px";
                values2_h1[i].textContent = "****";
            }
            for (let i = 0; i < values2_span.length; i++) {
                values2_span[i].textContent = "*";
            }
            for (let i = 0; i < values3_h1.length; i++) {
                values3_h1[i].style.height = "43px";
                values3_h1[i].textContent = "****";
            }
            for (let i = 0; i < values3_span.length; i++) {
                values3_span[i].textContent = "*";
            }

            // Salva a classe atual no localStorage
            localStorage.setItem("eyeClass", "bi-eye-slash");

        } else {
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");

            for (let i = 0; i < values1_h1.length; i++) {
                values1_h1[i].style.height = "auto";
                values1_h1[i].textContent = "{{total_clientes}}";
            }
            for (let i = 0; i < values1_span.length; i++) {
                values1_span[i].textContent = "{{clientes_em_atraso}}";
            }
            for (let i = 0; i < values2_h1.length; i++) {
                values2_h1[i].style.height = "auto";
                values2_h1[i].textContent = "{{valor_total_pago}}";
            }
            for (let i = 0; i < values2_span.length; i++) {
                values2_span[i].textContent = "{{valor_total_pago_qtd}}";
            }
            for (let i = 0; i < values3_h1.length; i++) {
                values3_h1[i].style.height = "auto";
                values3_h1[i].textContent = "{{valor_total_receber}}";
            }
            for (let i = 0; i < values3_span.length; i++) {
                values3_span[i].textContent = "{{valor_total_receber_qtd}}";
            }

            // Salva a classe atual no localStorage
            localStorage.setItem("eyeClass", "bi-eye");
        }

    });
</script>

<script>
    function exibirModalConfirmacaoCancelamento(botao) {
        var cliente_id = $(botao).data('cliente');
        var cliente_nome = $(botao).data('nome');
        $('#confirm-cancelamento-modal #cliente-id').val(cliente_id);
        $('#confirm-cancelamento-modal #cliente-nome').text(cliente_nome);
        $('#confirm-cancelamento-modal').modal('show');

        // Ouve o envio do formulário
        $('#cancelamento-form').on('submit', function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário

            // Obtém o ID do cliente a ser cancelado
            var cliente_id = $('#cliente-id').val();

            // Faz a solicitação POST para a URL apropriada
            $.ajax({
                url: '/cancelar_cliente/' + cliente_id + '/',
                method: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (response) {
                    // Verifica se a resposta contém a chave 'success_message_cancel'
                    if ('success_message_cancel' in response) {
                        // Fecha o modal e exibe mensagem de sucesso
                        $('#confirm-cancelamento-modal').modal('hide');

                        swal.fire({
                            icon: 'info',
                            title: 'Cancelado!',
                            html: '<span style="font-size: 20px">😮</span><br>' + response.success_message_cancel + '<br>Caso queira reativar, basta acessar a listagem dos seus clientes.',
                        }).then(function() {
                            location.reload();
                        });
                    }

                    if ('error_message' in response) {
                        // Fecha o modal e exibe mensagem de sucesso
                        $('#confirm-cancelamento-modal').modal('hide');

                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.error_message,
                        });
                    }
                },
                error: function (response) {
                    // Fecha o modal e exibe mensagem de erro
                    $('#confirm-cancelamento-modal').modal('hide');

                    swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ocorreu um erro ao tentar cancelar o cliente.',
                    });
                }
            });
        });
    }

    $('#confirm-cancelamento-modal').on('click', '.btn-close, .btn-secondary', function () {
        $('#confirm-cancelamento-modal').modal('hide');
    });
</script>


<script>
    function exibirModalConfirmacaoPagamento(botao) {
        var mensalidade_id = $(botao).data('mensalidade');
        var cliente_nome = $(botao).data('nome');
        $('#confirm-pagamento-modal #mensalidade-id').val(mensalidade_id);
        $('#confirm-pagamento-modal #cliente-nome').text(cliente_nome);
        $('#confirm-pagamento-modal').modal('show');

        // Ouve o envio do formulário
        $('#pagamento-form').on('submit', function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário

            // Obtém o ID do mensalidade a ser cancelado
            var mensalidade_id = $('#mensalidade-id').val();

            // Faz a solicitação POST para a URL apropriada
            $.ajax({
                url: '/pagar_mensalidade/' + mensalidade_id + '/',
                method: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (response) {
                    // Verifica se a resposta contém a chave 'success_message_invoice'
                    if ('success_message_invoice' in response) {
                        // Fecha o modal e exibe mensagem de sucesso
                        $('#confirm-pagamento-modal').modal('hide');

                        swal.fire({
                            icon: 'success',
                            title: 'Pago!',
                            html: '<span style="font-size: 20px">🤑</span><br>' + response.success_message_invoice + '<br>Consulte as mensalidades desse cliente para mais detalhes.',
                        }).then(function() {
                            location.reload();
                        });
                    }

                    if ('error_message' in response) {
                        // Fecha o modal e exibe mensagem de sucesso
                        $('#confirm-pagamento-modal').modal('hide');

                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.error_message,
                        });
                    }
                },
                error: function (response) {
                    // Fecha o modal e exibe mensagem de erro
                    $('#confirm-pagamento-modal').modal('hide');

                    swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ocorreu um erro ao tentar cancelar o cliente.',
                    });
                }
            });
        });
    }

    $('#confirm-pagamento-modal').on('click', '.btn-close, .btn-secondary', function () {
        $('#confirm-pagamento-modal').modal('hide');
    });
</script>