<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="codigoNovoAqui" class="offset-md-4 col-md-8 mt-4">
        <button type="submit" class="btn btn-primary" name="cadastrar">Cadastrar</button>
    </div>
</body>
</html>

<script>
    // verificar a condição aqui
    var condicao = true;
    
    // se a condição for verdadeira, inserir o código novo
    if (condicao) {
      var codigoNovo = document.createElement("div");
      codigoNovo.innerHTML = `
      <!-- row -->
        <div class="mb-3 row" id="divID">
        <label for="ID" class="col-sm-4 col-form-label
            form-label">ID do Aplicativo</label>
        <div class="col-md-8 col-12">
            <input type="text" class="form-control" placeholder="Device ID" id="ID" name="ID">
        </div>
        </div>
        <!-- row -->
        <div class="mb-3 row" id="divSenha">
        <label for="ID" class="col-sm-4 col-form-label
            form-label">Senha do Aplicativo</label>
        <div class="col-md-8 col-12">
            <input type="text" class="form-control" placeholder="Device Key" id="Senha" name="senha">
        </div>
        </div>
        <!-- row -->
        <div class="mb-3 row" id="divEmail">
        <label for="ID" class="col-sm-4 col-form-label
            form-label">E-mail do Clouddy</label>
        <div class="col-md-8 col-12">
            <input type="text" class="form-control" placeholder="E-mail" id="Email" name="email">
        </div>
        </div>
      `;
      var container = document.getElementById("codigoNovoAqui");
      container.parentNode.insertBefore(codigoNovo, container.nextSibling);
    }
  </script>
  

                      <!-- row -->
                      <div class="mb-3 row" id="divID">
                        <label for="ID" class="col-sm-4 col-form-label
                            form-label">ID do Aplicativo</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Device ID" id="ID" name="ID">
                        </div>
                      </div>
                      <!-- row -->
                      <div class="mb-3 row" id="divSenha">
                        <label for="ID" class="col-sm-4 col-form-label
                            form-label">Senha do Aplicativo</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="Device Key" id="Senha" name="senha">
                        </div>
                      </div>
                      <!-- row -->
                      <div class="mb-3 row" id="divEmail">
                        <label for="ID" class="col-sm-4 col-form-label
                            form-label">E-mail do Clouddy</label>
                        <div class="col-md-8 col-12">
                          <input type="text" class="form-control" placeholder="E-mail" id="Email" name="email">
                        </div>
                      </div>





<script>
    // Pega o select pelo id
    const selectValue = document.getElementById("sistema");

    // Pega o input pelo id da div
    const divID = document.getElementById("divID");
    const divEmail = document.getElementById("divEmail");
    const divSenha = document.getElementById("divSenha");
    const inputID = document.getElementById("ID");
    const inputEmail = document.getElementById("Email");
    const inputSenha = document.getElementById("Senha");

    // Adiciona um listener para escutar quando o valor do select mudar//
    selectValue.addEventListener("change", function () {
    // Verifica se o valor do select contém uma das palavras predefinidas ignorando o case
    if (this.value.toLowerCase().includes("duplexplay") ||
        this.value.toLowerCase().includes("duplex play")||
        this.value.toLowerCase().includes("metaplayer") ||
        this.value.toLowerCase().includes("meta player")||
        this.value.toLowerCase().includes("duplecast") ||
        this.value.toLowerCase().includes("duple cast")
        ) {
        // Se contém, exibe as div com os inputs e torna-o obrigatório
        divID.style.visibility = "visible";
        inputID.required = true;
        divSenha.style.visibility = "visible";
        inputSenha.required = true;
        divEmail.style.visibility = "hidden";
        inputEmail.required = false;
    } 
    else if (this.value.toLowerCase().includes("clouddy")){
        divEmail.style.visibility = "visible";
        inputEmail.required = true;
        divSenha.style.visibility = "visible";
        inputSenha.required = true;
        divID.style.visibility = "hidden";
        inputID.required = false;
    }
    else {
        // Caso contrário, oculta o input e torna-o não obrigatório
        divID.style.visibility = "hidden";
        inputID.required = false;
        divEmail.style.visibility = "hidden";
        inputEmail.required = false;
        divSenha.style.visibility = "hidden";
        inputSenha.required = false;
    }
    });
</script>