{% extends 'modelo.html' %}

{% load static %}

{% block centro %}
<!-- Header -->
<style>
    #div-editar > h1{
        font-size: 60px;
        text-align: center;
        font-weight: bolder;
    }
    #div-editar > h2{
        font-weight: bolder;
        font-size: 35px;
    }
    #div-editar > div{
        margin-top: 20px;

    }
</style>

<header style="padding: 300px;">
    <div id="div-editar">
        <h1>CONTEÚDO DO CLIENTE</h1>
        <h2>{{ cliente.nome }}</h2>
        <div>
            <h8>{{ cliente.dispositivo }}</h8><br>
            <h8>{{ cliente.indicacao }}</h8><br>
            <h8>{{ cliente.data_cadastro }}</h8><br>    
            <h8>{{ cliente.painel }}</h8><br>
        </div>
    </div>
</header>
{% endblock %}